<ion-label>
  <ion-toolbar>
    <ion-label>
      Welcome to T_RANK
    </ion-label>
  </ion-toolbar>
</ion-label>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://i1.wp.com/journalism.co.za/indepth/jozicity/wp-content/uploads/Grayscale-Bree-taxi-rank-online1.jpg" alt="" />
      <ion-card-content>
    
        <ion-header>Login</ion-header>
        
        <ion-select>Select</ion-select>

      <ion-label>Username</ion-label>
      <ion-input></ion-input>
      <ion-label>Password</ion-label>
      <ion-input></ion-input>

      <ion-button>Submit</ion-button>

      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      
    </ion-list>
</ion-content>
